<div
  class="h-100 w-100 p-5 d-flex flex-column justify-content-start align-items-center"
>
  <img
    [src]="user?.dp"
    alt="User"
    class="mb-4 rounded-circle"
    style="height: 13rem; width: 13rem"
  />
  <p class="h6">Citizen ID: {{ user?.citizenId }}</p>
  <p class="h6">Name: {{ user?.name }}</p>
  <p class="h6">Gender: {{ user?.gender }}</p>
  <p class="h6">DOB: {{ user?.dob }}</p>
  <p class="h6">Email: {{ user?.email }}</p>
  <p class="h6">Mobile: {{ user?.mobile }}</p>
  <p class="h6">Address: {{ user?.address }}</p>

  <div class="card mt-5" style="width: 400px;" *ngIf="aadhar?.aadharNumber">
    <div class="card-body">
      <h5 class="card-title text-center">Government Of India</h5>
      <div class="w-100 d-flex justify-content-start align-items-start gap-4">
        <img [src]="aadhar?.dp" alt="User" style="height: 5rem; width: 5rem" />
        <div>
          <p class="small h6">Name: {{aadhar?.name}}</p>
          <p class="small h6">DOB: {{aadhar?.dob}}</p>
          <p class="small h6">Gender: {{aadhar?.gender}}</p>
        </div>
      </div>
      <div class="w-100 mt-3 mb-3 d-flex justify-content-center align-items-center border-bottom border-danger">
        <p class="h6">{{aadhar?.aadharNumber}}</p>
      </div>

      <p class="h6 text-center">Aadhaar is Right of Common Man</p>
    </div>
  </div>

  <p class="mt-3 h6">Status: <span [ngClass]="aadhar?.status === 'approved' ? 'text-success' : 'text-warning'">{{aadhar?.status}}</span></p>

  <a *ngIf="!aadhar?.aadharNumber" routerLink="#" class="mt-3 h6 text-primary text-decoration-none"
    >Apply for aadhar card</a
  >

  <a *ngIf="aadhar?.aadharNumber" routerLink="#" class="mt-3 h6 text-primary text-decoration-none"
    >Apply for duplicate aadhar card</a
  >
</div>
